.leaflet-routing-container {
  display: none !important;
}
.leaflet-routing-alt h2, h3{
  display: none !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-center {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.left-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-table .ant-table-container .ant-table-body,
.custom-table .ant-table-container .ant-table-content {
    scrollbar-width: thin;
    scrollbar-color: unset;
}