.buildingContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.filterContainer {
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.filterContainer:hover {
  background-color: #e9ecef;
}

.filterIcon {
  font-size: 20px;
  margin-right: 8px;
}

.filterText {
  font-weight: bold;
  font-size: 16px;
  color: black;
}

.contractContainer {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.contractDetails {
  margin-top: 20px;
}

.buildingContract {
  border: 1px solid #fea116 !important;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
}

.collapsedDescription {
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.expandedDescription {
  max-height: none;
  overflow: visible;
  white-space: normal;
  word-wrap: break-word;
}

h2 {
  text-align: center;
}

h3 {
  margin-bottom: 10px;
}

.deleteButton {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #c82333;
}
